* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/*************
Navbar
*************/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 13vh;
  position: relative;
  z-index: 10;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-right: 18%;
}

.nav-links a {
  color: rgba(39, 45, 78, 1);
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.07813rem;

  position: relative;
  display: inline;
  border-bottom: 2px solid transparent;
  transition: border-bottom ease-in 0.2s;
}

.nav-links a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  bottom: 0%;
  left: 0%;
  background-color: rgba(39, 45, 78, 1);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login-start h5 {
  color: rgba(39, 45, 78, 1);
  display: inline-block;
  font-size: 18px;
  margin-right: 40px;

  position: relative;
  display: inline;
  border-bottom: 2px solid transparent;
  transition: border-bottom ease-in 0.2s;
}

.login-start h5::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  bottom: 0%;
  left: 0%;
  background-color: rgba(39, 45, 78, 1);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.login-start h5:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login-start button {
  background-color: #7854f7;
  width: 120px;
  height: 47px;
  border-radius: 5px;
  border-style: none;
  z-index: 99;
}

.login-start button:hover {
  background-color: #563db1;
}

.login-start button a {
  color: #fff;
  font-size: 18px;
}

.searc-icon {
  position: absolute;
  right: 2%;
  top: 2%;
}

/*** Responsive ***/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  height: 3px;
  width: 25px;
  background-color: #7854f7;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1250px) {
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 945px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    height: 87vh;
    left: 0px;
    top: 13vh;
    background-color: #7854f7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateX(100%);

    transition: all 0.5s ease-in;
  }

  .burger {
    display: block;
  }

  .nav-links li {
    opacity: 1;
  }

  .nav-links a {
    color: #fff;
  }

  .nav-links a::before {
    background-color: #fff;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*************
Hero text
*************/

.hero-text {
  width: 55%;
  margin-left: 5.5%;
  margin-top: 7%;
}

.hero-text h1 {
  font-weight: bold;
  /* font-size: 79px; */
  font-size: 5.5vw;
  color: #272d4e;
  letter-spacing: 0.10625rem;
}

.hero-text p {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #94a2b3;
  letter-spacing: 0.03125rem;
}

.hero-text button {
  background-color: #7854f7;
  width: 267px;
  height: 72px;
  border-radius: 60px;
  border-style: none;

  margin-top: 31px;
  margin-right: 12px;
}

.hero-text button:hover {
  background-color: #563db1;
}

.hero-text button a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.hero-text h5 {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  margin-left: 10px;
  color: #299ef3;

  position: relative;
  display: inline;
  border-bottom: 2px solid transparent;
  transition: border-bottom ease-in 0.2s;
}

.hero-text h5 ::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  bottom: 0%;
  left: 0%;
  background-color: #299ef3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hero-text h5 :hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/************
Cover Image
************/

.cover-image {
  width: 40%;
  position: absolute;
  right: 0;
  top: 20%;
  z-index: 9;
}

.vector-cover {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1;
  width: 44%;
}

/************
Simple Use
************/

.made-simple h1 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
  color: #272d4e;
  margin-top: 30px;
}

/*********
Grid
*********/

.row {
  margin-top: 4%;
  margin-left: 6%;
}

.column {
  float: left;
  margin-right: 5%;
  width: 28%;
  min-height: 60vh;
}

.c2 {
  margin-top: 15px;
}

.c3 {
  margin-top: 70px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-img {
  max-width: 100%;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
}

.column h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 70px;
  color: #272d4e;
}

.column h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #299ef3;

  position: relative;
  display: inline;
  border-bottom: 2px solid transparent;
  transition: border-bottom ease-in 0.2s;
}

.column h5 ::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  bottom: 0%;
  left: 0%;
  background-color: #299ef3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.column h5 :hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.column p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  color: #94a2b3;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
